.allVoucher > div {
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.allVoucher > div:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.voucherItem {
  background-color: #fbe8bd;
  border-radius: 10px;
  position: relative;
  border-right: 2px dashed #8f96a0;
  display: grid;
  place-items: center;
  height: 120px;
}

.voucherItem::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.voucherItem::after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}
