.info_notifi {
  .ant-popover-inner-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    width: 300px !important;
    @media (min-width: 768px) {
      width: auto !important;
    }
  }

  .ant-popover-inner-content::-webkit-scrollbar {
    display: none !important;
  }
}
