.btn_delivery_img {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
  animation-name: ring-ring;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.btn_delivery {
  box-shadow: 2px 4.6px 27px 3px rgb(0 0 0 / 43%);
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  border-radius: 50%;
}

.btn_bot {
  position: fixed;
  bottom: 160px;
  right: 40px;
  z-index: 100;
  height: 60px;
  width: 60px;
  box-shadow: 2px 4.6px 27px 3px rgb(0 0 0 / 43%);
  border-radius: 50%;
}

@keyframes ring-ring {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
