.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  padding: 8px;
  border-radius: 50px;
  user-select: none;
}

.pagination ul > li {
  color: #20b2aa;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}

.pagination ul li.btn {
  padding: 0px 20px;
}

.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
  border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  color: #fff;
  background-color: #20b2aa;
}
