.list-voucher {
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #fff;
    background: #d8b979;
    border-color: #d8b979;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background: #d8b979;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background: #ffffff;
  }

  .ant-radio-group-large .ant-radio-button-wrapper {
    font-size: 16px;
    line-height: 38px;
    height: 120px;
    width: 300px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px dashed #ccc;
    position: relative;
  }

  .ant-radio-group-large .ant-radio-button-wrapper::before,
  .ant-radio-group-large .ant-radio-button-wrapper::after {
    background: #ffffff;
    content: '';
    height: 38px;
    position: absolute;
    border: 2px dashed #ccc;
    // top: 330px;
    width: 15px;
    z-index: 99;
  }
  .ant-radio-group-large .ant-radio-button-wrapper::before {
    left: -2px;
    border-bottom-right-radius: 100px;
    border-left: 1px solid #f5f5f5;
    border-top-right-radius: 100px;
  }
  .ant-radio-group-large .ant-radio-button-wrapper::after {
    border-bottom-left-radius: 100px;
    border-right: 1px solid #f5f5f5;
    border-top-left-radius: 100px;
    right: -2px;
  }

  .ant-radio-group-large .ant-radio-button-wrapper:hover {
    color: #ffffff;
    background: #d8b979;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: unset !important;
  }
}
