.bg_footer {
  background: url(/bg-footer.png) no-repeat center;
  background-size: cover;
  position: relative;
  color: white;
  .footer_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(51, 51, 51, 0.86);
  }
}
